.title {
    
}
.button_group {
    display: flex;
    margin-top: 5px;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.good {
    composes: button;
    background-color: green;
}

.neutral {
    composes: button;
    background-color: orange;
}

.bad {
    composes: button;
    background-color: rgb(128, 43, 0);
color: #fff;}

.statistic_item {
    display: block;
}